body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-color-white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
  max-width: 1200px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

:root {
  --primary-text-color: #757575;
  --primary-color-black: #212121;
  --primary-color-blue: #2196f3;
  --primary-color-white: #ffffff;
  --primary-color-grey: #2f303a;
  --background-color-white: #f5f4fa;
  --label-color-black: #000000;
}

.logo {
  width: 134px;
  height: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-color-blue);
}
@media screen and (min-width: 1600px) {
  .logo {
    width: 145px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo-header {
  color: var(--label-color-black);
}
.logo-footer {
  color: var(--primary-color-white);
}

.subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1600px) {
  .subscribe {
    flex-direction: row;
    width: 570px;
    align-items: flex-end;
  }
}
.subscribe > label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 1600px) {
  .subscribe > label {
    margin-bottom: 0px;
  }
}
.subscribe span {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color-white);
}
.subscribe input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-color-grey);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 1600px) {
  .subscribe input {
    width: 358px;
  }
}
.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe__button,
.hero__button,
.callback__button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe__button:hover, .subscribe__button:focus,
.hero__button:hover,
.hero__button:focus,
.callback__button:hover,
.callback__button:focus {
  background-color: #188ce8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__button {
  display: flex;
  bottom: 0;
  right: 0;
  margin: 0;
}
@media screen and (min-width: 1600px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.callback__button {
  margin-left: 0px;
}

.footer-social,
.team-social {
  display: flex;
  width: 206px;
}
.footer-social__list, .footer-social__item,
.team-social__list,
.team-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.footer-social__list:last-child, .footer-social__item:last-child,
.team-social__list:last-child,
.team-social__item:last-child {
  margin-right: 0px;
}

.footer-social__link,
.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus,
.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--primary-color-blue);
  fill: #ffffff;
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 40px;
  background-color: var(--primary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1599px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
  }
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__button__icon {
  width: 100%;
  height: 100%;
  fill: #000000;
  background-color: var(--primary-color-white);
}
.modal__button__icon:hover {
  fill: var(--primary-color-blue);
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.callback__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-color-black);
}
@media screen and (max-width: 1599px) {
  .callback__header {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .callback__header {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .callback__header {
    width: 448px;
  }
}

.label-container {
  margin-bottom: 28px;
}
@media screen and (max-width: 1599px) {
  .label-container {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .label-container {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .label-container {
    width: 448px;
  }
}
.label-container:hover, .label-container:focus {
  fill: var(--primary-color-blue);
}

.label-container > label {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1599px) {
  .label-container > label {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .label-container > label {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .label-container > label {
    width: 448px;
  }
}

.label-container input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1599px) {
  .label-container input {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .label-container input {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .label-container input {
    width: 448px;
  }
}
.label-container input:hover, .label-container input:focus {
  border: 1px solid var(--primary-color-blue);
}

.label-container svg {
  position: absolute;
  left: 12px;
  top: 50%;
}

.callback__comment {
  margin-bottom: 20px;
}

.callback__comment > label {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1599px) {
  .callback__comment > label {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .callback__comment > label {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .callback__comment > label {
    width: 448px;
  }
}

.callback__comment textarea {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
@media screen and (max-width: 1599px) {
  .callback__comment textarea {
    max-width: 370px;
  }
}
@media screen and (min-width: 480px) {
  .callback__comment textarea {
    width: 370px;
  }
}
@media screen and (min-width: 1600px) {
  .callback__comment textarea {
    width: 448px;
  }
}
.callback__comment textarea:hover, .callback__comment textarea:focus {
  border: 1px solid var(--primary-color-blue);
}

.callback__condition {
  margin-bottom: 31px;
}

.callback__condition > label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.callback__condition > label span {
  margin-left: 7px;
  letter-spacing: 0.03;
}
.callback__condition > label a {
  margin-left: 3px;
  color: var(--primary-color-blue);
  text-decoration: underline;
}

.menu-btn {
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color-white);
  border: none;
}
.menu-btn > svg {
  fill: #212121;
}
.menu-btn > svg:hover, .menu-btn > svg:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .icon-menu {
  display: none;
}

.menu-btn.is-open .icon-menu {
  display: block;
}

.menu-btn.is-open .icon-cross {
  display: none;
}

.header > .container {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-color-white);
}
@media screen and (max-width: 767px) {
  .header > .container {
    align-items: center;
    padding: 10px 15px;
  }
}
@media screen and (min-width: 768px) {
  .header > .container {
    padding: 21px 15px;
  }
}

.menu-container {
  display: none;
  position: absolute;
  padding: 48px 40px 48px 40px;
  background-color: var(--primary-color-white);
}
@media screen and (max-width: 767px) {
  .menu-container {
    z-index: 999;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0px;
  }
}
.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container nav {
    margin-bottom: 302px;
    width: 100%;
  }
}
.menu-container .contact {
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu-container .contact {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container .contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1600px) {
  .menu-container .contact {
    flex-direction: row;
  }
}

.nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 294px;
}
@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-right: 84px;
  }
}
.nav__list {
  margin-bottom: 35.71px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-bottom: 0px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.nav__list:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .nav__list:last-child {
    margin-right: 0px;
  }
}
.nav:last-child {
  margin-bottom: 0px;
}
.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-color-blue);
    opacity: 0;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .nav__link:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}

.nav__link--active::after {
  content: "";
}
@media screen and (min-width: 768px) {
  .nav__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-color-blue);
    opacity: 1;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 767px) {
  .menu--active {
    color: var(--primary-color-blue);
  }
}

.contact__list {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.18;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contact__list {
    margin-bottom: 10px;
    width: 138px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1600px) {
  .contact__list {
    margin-bottom: 0px;
  }
}
.contact__list:first-child {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .contact__list:first-child {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .contact__list:last-child {
    margin-bottom: 32px;
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contact__list:last-child {
    margin-bottom: 0;
    font-size: 12px;
  }
}
@media screen and (min-width: 1600px) {
  .contact__list:last-child {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
  }
}
.contact__icon {
  display: none;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: flex;
  }
}

.nav,
.contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link,
.contact__link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--primary-color-blue);
}

.menu-social {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-color-blue);
}
@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}
.menu-social__item {
  padding: 0px 10px;
  border: 1px solid;
  border-top: 0px;
  border-bottom: 0px;
  border-color: rgba(33, 33, 33, 0.2);
}
.menu-social__item:first-child {
  padding-left: 0px;
  border-left: 0px;
}
.menu-social__item:last-child {
  padding-right: 0px;
  border-right: 0px;
}
.menu-social a {
  color: inherit;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}
.footer .container {
  padding: 60px 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 1600px) {
  .footer-container {
    flex-wrap: nowrap;
  }
}
.footer-container > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container > div:first-child {
    margin-bottom: 0px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1600px) {
  .footer-container > div:first-child {
    margin-right: 70px;
  }
}
.footer-container > form {
  margin-top: 60px;
}
@media screen and (min-width: 1600px) {
  .footer-container > form {
    margin: 0;
  }
}
.footer-container__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1600px) {
  .footer-container__social {
    margin-right: 93px;
  }
}
.footer-container__social h2 {
  margin-bottom: 20px;
  width: 145px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color-white);
}

address {
  margin-top: 20px;
}

.address {
  padding-left: 0px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  font-style: normal;
}
.address > li {
  margin-bottom: 8px;
  width: 232px;
}
@media screen and (min-width: 1600px) {
  .address > li {
    margin-bottom: 9px;
  }
}
.address > li:last-child {
  margin-bottom: 0px;
}
.address__phone, .address__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__phone:hover, .address__phone:focus, .address__mail:hover, .address__mail:focus {
  color: var(--primary-color-blue);
}
.address__place {
  color: var(--background-color-white);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  max-height: 400px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-bg-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color-white);
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-bg-768.jpg");
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-bg-1600.jpg");
  }
}

.hero > .container {
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .hero > .container {
    padding: 118px 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero > .container {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1600px) {
  .hero > .container {
    padding: 200px 452px;
  }
}

.hero__header {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 100vw), screen and (min-resolution: 192dpi) and (max-width: 100vw), screen and (min-resolution: 2dppx) and (max-width: 100vw) {
  .hero {
    background-image: url(/images/hero-bg-1600-x2.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .hero {
    background-image: url(/images/hero-bg-768-x2.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 480px), screen and (min-resolution: 192dpi) and (max-width: 480px), screen and (min-resolution: 2dppx) and (max-width: 480px) {
  .hero {
    background-image: url(/images/hero-bg-480-x2.jpg);
  }
}
.dignity__list {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .dignity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 738px;
  }
}
@media screen and (min-width: 1600px) {
  .dignity__list {
    flex-wrap: nowrap;
    width: 1170px;
  }
}

.dignity__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-black);
}

.dignity__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .dignity__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .dignity__item {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .dignity__item {
    width: 270px;
  }
}
.dignity__item:last-child {
  margin-bottom: 0px;
}

.dignity__img {
  padding-top: 25px;
  padding-right: auto;
  padding-bottom: auto;
  padding-bottom: 25px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.dignity__text {
  margin-bottom: 0px;
}

@media screen and (max-width: 1599px) {
  .work {
    display: none;
  }
}
.work > .container {
  display: flex;
  flex-direction: column;
}

.work__header {
  margin-top: 0px;
  margin-bottom: 50px;
  width: 376;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color-black);
}

.work-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.work-list__item {
  position: relative;
  margin-right: 30px;
  line-height: 0;
}

.work-list__item:last-child {
  margin-right: 0px;
}

.work__text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 24%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-color-white);
}

.team > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-color-black);
}
@media screen and (min-width: 1600px) {
  .team__header {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-color-white);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 0;
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .team-list__item {
    width: 270px;
  }
}
.team-list__item:last-child {
  margin-bottom: 0px;
}

.team-list__photo {
  margin-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;
  width: 206px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color-black);
}

.team-list__position {
  margin-bottom: 16px;
  width: 206px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.clients > .container {
  flex-direction: column;
  align-items: center;
}

.clients__header {
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--primary-color-black);
}
@media screen and (min-width: 1600px) {
  .clients__header {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .clients-list {
    justify-content: normal;
    margin: -5px;
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    justify-content: space-between;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    margin: 0;
    gap: 30px;
  }
}

.clients-list__company {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__company:hover, .clients-list__company:focus {
  border: 1px solid var(--primary-color-blue);
}
@media screen and (max-width: 767px) {
  .clients-list__company {
    margin-top: 30px;
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 480px) {
  .clients-list__company {
    margin: 5px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__company {
    width: 226px;
    height: 92px;
    margin: 0px;
  }
}
@media screen and (min-width: 1600px) {
  .clients-list__company {
    width: 170px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 52px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: #2196f3;
}
.clients-list__link svg {
  width: 106px;
  height: 60px;
}

.filter {
  margin-top: -15px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.filter__list {
  margin-right: 8px;
  margin-top: 15px;
}
.filter__list:last-child {
  margin-right: 0px;
}

.filter__button {
  font-family: inherit;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  font-weight: 500;
  color: var(--primary-color-black);
  background-color: var(--background-color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px;
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--primary-color-blue);
  color: var(--primary-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio > .container {
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  font-size: 16px;
  line-height: 0;
  color: var(--primary-text-color);
}
@media screen and (max-width: 767px) {
  .projects {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.projects__list {
  margin-bottom: 30px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .projects__list {
    width: 354px;
    margin-bottom: 0px;
  }
}
.projects__list:hover, .projects__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link {
  color: inherit;
  text-decoration: none;
}

.projects__header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-black);
}

.projects__text-container {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  line-height: 1.88;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .projects__text-container {
    height: 145px;
  }
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .overlay-text {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */