.dignity__list {
  font-size: 14px;
  line-height: 1.71;

  width: 450px;

  color: var(--primary-text-color);
}
.dignity__header {
  margin-bottom: 10px;

  width: 270px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color-black);
}
.dignity__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0px;
  }
}
.dignity__img {
  padding-top: 25px;
  padding-right: auto;
  padding-bottom: auto;
  padding-bottom: 25px;
  margin-bottom: 30px;

  width: 450px;
  height: 120px;

  border-radius: 4px;
  background-color: #f5f4fa;
}
.dignity__text {
  width: 450px;
  margin-bottom: 0px;
}
