.logo {
  width: 134px;
  height: 28px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: var(--primary-color-blue);

  &-header {
    color: var(--label-color-black);
  }

  //   &-footer {
  //     color: var(--primary-color-white);
  //   }
}
