.menu-btn {
  margin-left: auto;

  padding: 0;

  background-color: var(--primary-color-white);

  border: none;

  & > svg {
    fill: #212121;
    &:hover,
    &:focus {
      fill: #2196f3;
    }
  }
}
.menu-btn .icon-menu {
  display: none;
}
.menu-btn.is-open .icon-menu {
  display: block;
}
.menu-btn.is-open .icon-cross {
  display: none;
}
