:root {
  --primary-text-color: #757575;
  --primary-color-black: #212121;
  --primary-color-blue: #2196f3;
  --primary-color-white: #ffffff;
  --primary-color-grey: #2f303a;
  --background-color-white: #f5f4fa;
  --label-color-black: #000000;
}
